* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}

/* styling the navBar */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(images/pexels-ovan-57690.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  padding: 10px 10%;
}
.nav-container {
  background: #000;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  color: #b59b9b;
  margin-left: 3rem;
}

.logo {
  font-size: 30px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.35s;
}

nav ul li a:hover::after {
  width: 100%;
}
/* styling the text font */
.header_text {
  margin-top: 20%;
  font-size: 30px;
}

.header_text h1 {
  font-size: 60px;
  margin-top: 20px;
  text-shadow: 3px 3px 5px #000000ba;
}

/* style for about section */

.about {
  padding: 80px 0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-1 {
  flex-basis: 35%;
}
.about-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-2 {
  flex-basis: 60%;
}

.about-2 h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 5px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.35s;
}

.tab-links.active::after {
  width: 75%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: orangered;
  font-size: 14px;
}

.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

.Services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #434040;
  padding: 13px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: linear-gradient(to bottom, #000, #ffa500);
  transform: translateY(-8px);
  transition: 0.5s;
}

.portfolio {
  padding: 50px 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.project {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.project img {
  display: block;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, #000, #ffa600a2);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff4500;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.project:hover img {
  transform: scale(1.1);
}
.project:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff4500;
  border-radius: 6px;
  padding: 14px 50px;
  text-decoration: none;
  color: #fff;
  transition: bakcground 0.5s;
}
.btn:hover {
  background: #8d5b00cd;
  transition: 0.5s;
}
